@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media screen and (min-width: 1201px) {
  html {
    font-size: 140%;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 130%;
  }
}
@media screen and (max-width: 984px) {
  html {
    font-size: 120%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 552px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 336px) {
  html {
    font-size: 60%;
  }
}
