.App {
  text-align: center;
  margin-top: 70px;
}

button {
  cursor: pointer;
  box-shadow: 1px 3px 6px 0px black;
  border: none;
  font-weight: 500;
}

button:hover {
  box-shadow: 1px 3px 6px 1px black;
}
