@import "abstract.scss";

.month-chart {
    height: 100%;
}

.month-selector {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;
    top: calc(120px + 2.2em);
    right: 30px;
    z-index: 1;
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    background-color: $button-color;
    border: none;
    color: black;

    font-size: 1.5rem;
    cursor: pointer;

    &:focus {
        outline: none;
        font-weight: 600;
    }
    &:hover {
        font-weight: 600;
    }
    &::-webkit-scrollbar {
        display: none;
    }

    option {
        margin-bottom: 0.15em;
        line-height: 0;

        &:checked,
        &:hover {
            font-weight: 600;
        }
    }
}
