@mixin flex-center {
  display: flex;
  align-items: center;
}

.navbar {
  @include flex-center;
  justify-content: space-between;
  height: 70px;
  background-color: crimson;
  color: black;
  padding: 0 2em;

  * {
    @include flex-center;
  }

  &__left {
    font-size: 35px;
    color: white;
    cursor: pointer;
    @media screen and (max-width: 552px) {
      font-size: 25px;
    }
  }

  &__right {
    justify-content: space-between;
    width: 6em;
    max-width: 40vw;
    font-size: 35px;
    color: white;
    @media screen and (max-width: 552px) {
      font-size: 25px;
    }

    &__settings {
      cursor: pointer;
    }
  }
}
