@mixin flex-center {
  display: flex;
  align-items: center;
}

.navbar {
  @include flex-center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  justify-content: space-between;
  height: 70px;
  background-color: crimson;
  color: black;
  padding: 0 20px;
  font-family: "Lora", serif;

  * {
    @include flex-center;
  }

  &__left {
    font-size: 35px;
    color: white;
    cursor: pointer;

    img {
      height: 40px;
      margin-right: 6px;
    }

    h1 {
      @media screen and (max-width: 552px) {
        display: none;
      }
    }
  }

  &__right {
    justify-content: space-between;
    width: 100px;
    max-width: 40vw;
    font-size: 35px;
    color: white;

    &__btn {
      cursor: pointer;
    }
  }
}
