@import "abstract.scss";

.settings {
    padding: 1.5em;
    position: fixed;
    right: 0;
    top: -180px;
    z-index: 5;
    background-color: $button-color;
    width: 15em;
    border-radius: 0 0 0 10%;
    box-shadow: $box-shadow;

    &--animation {
        transform: translateY(250px);
        transition: all 0.4s ease-in-out;
    }

    &__btns {
        margin-top: 1em;
        display: flex;
        justify-content: space-around;
    }
    &__btn {
        font-size: 1rem;
        width: 4em;
        border-radius: 4px;
    }
}

.timeset {
    display: flex;
    flex-direction: column;
    color: black;
    padding-bottom: 1em;
    border-bottom: 1px dashed #666666;

    &__range {
        width: 100%;
        cursor: pointer;
    }

    &__text {
        @include flex-center;
        justify-content: center;
        margin-top: 0.2em;

        & > input {
            font-size: 1.2rem;
            font-weight: 600;
            width: 1.4em;
            background-color: inherit;
            border: none;
            outline: none;
        }
    }
}

#focus-label {
    margin-top: 1em;
    display: flex;
    align-items: center;
    color: black;
    padding-bottom: 1em;
    border-bottom: 1px dashed #666666;
}

#focus-input {
    font-size: 1.2rem;
    border: none;
    padding: 0.3em;
    width: 100%;
    margin-left: 0.5em;

    &::placeholder {
        color: black;
    }
    &:focus {
        outline: none;
        &::placeholder {
            color: white;
        }
    }
}

.toast-popup {
    position: absolute;
    top: 15em;
    left: 1.5em;
    width: calc(100% - 3em);
    padding: 1em;
    z-index: 10;
    background-color: #666666;
    color: white;
    border-radius: 2em;
    font-size: 1rem;
    opacity: 0.8;
}
