.settings {
    padding: 1em;
    position: absolute;
    right: 0;
    z-index: 20;
    background-color: #f0f0f0;
    width: 12em;
    height: 10em;
    border-radius: 0 0 0 10%;
    box-shadow: 0 3px 8px 0 black;
}

.timeset {
    display: flex;
    flex-direction: column;
    color: black;

    &__input {
        width: 100%;
        cursor: pointer;
    }
}
.settings__btns {
    margin-top: 4em;
    display: flex;
    justify-content: space-around;
}

.settings__btn {
    font-size: 1rem;
    width: 4em;
}
