.container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(25, minmax(30px, auto));
    // grid-auto-rows: minmax(50px, auto);
    border: 1px solid black;
    column-gap: 10px;
    // align-items: stretch;
}
.head {
    border-bottom: 1px solid black;
    font-size: 1.5em;
    padding: 10px 0;
}

@for $i from 1 through 7 {
    .head:nth-child(#{$i}) {
        grid-column-start: $i + 1;
        background-color: antiquewhite;
    }
}
