@import "abstract.scss";

.timer-pg {
    position: fixed;
    top: calc(50% + 35px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28em;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--stop {
        color: #666666;
    }
}

.timer {
    font-size: 10rem;
}

.log-input {
    height: 2.5em;
    width: 100%;
    background-color: crimson;
    font-size: 3rem;
    color: black;
    border: none;
    padding: 0 0.6em;
    margin-bottom: 0.6em;
    box-shadow: 0 8px 16px 1px black;

    &::placeholder {
        color: $button-color;
    }
    &:focus {
        background-color: $button-color;
        outline: none;
        box-shadow: inset 0 3px 8px 0 black;
    }
    &:hover {
        background-color: $button-color;
        box-shadow: inset 0 3px 8px 0 black;
    }

    &--animation {
        transform: translateX(100vw);
        transition: all 0.3s;
    }
}

.timer-btn {
    height: 3em;
    width: 4em;
    font-size: 1.2rem;
    border: none;
    border-radius: 10%;

    &--start {
        position: absolute;
        transform: translate(-50%, -50%);
        top: calc(50% + 35px);
    }

    &--log {
        position: absolute;
        transform: translateX(-50%);
        top: 120px;
    }
}

.circularbar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
