@import "abstract.scss";

.timer-pg {
    position: fixed;
    top: calc(50% + 35px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;

    &--stop {
        opacity: 0.3;
    }
}

.timer {
    font-size: 9rem;
}
.log-input {
    height: 2.5em;
    max-width: 90vw;
    width: 10em;
    background-color: #dc143c;
    font-size: 3rem;
    color: black;
    border: none;
    padding: 0 0.6em;
    margin-bottom: 0.6em;
    box-shadow: $box-shadow;

    &::placeholder {
        color: $button-color;
    }
    &:focus {
        background-color: $button-color;
        outline: none;
        box-shadow: inset $box-shadow;
    }
    &:hover {
        background-color: $button-color;
        box-shadow: inset $box-shadow;
    }

    &--animation {
        transform: translateX(100vw);
        transition: all 0.3s;
    }
}

.timer-btn {
    font-size: 1.4rem;
    padding: 0.7em 0.9em;
    border: none;
    border-radius: 0.4em;

    &--start {
        position: fixed;
        transform: translate(-50%, -50%);
        top: calc(50% + 35px);
    }

    &--log {
        position: absolute;
        transform: translateX(-50%);
        top: 120px;
    }

    &--submit {
        position: absolute;
        top: 7.5em;
        left: 50%;
        transform: translateX(-50%);
    }
}

.circularbar {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 26em;
    transform: translate(-50%, -50%);
    z-index: -1;
}
